$min-phone-width: 320px;
$min-tablet-width: 768px;
$min-desktop-width: 1024px;

$max-tablet-width: calc(#{$min-desktop-width} - 1px);
$max-phone-width: calc(#{$min-tablet-width} - 1px);

$content-width: 1028px;
$content-text-width: 960px;
$header-footer-width: 1232px;

.hide {
  visibility: hidden;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
