@import 'common.scss';

$banner-height: 360px;
$menu-height: 64px;
$footer-height: 216px;

$bg1-width: 347px;
$bg1-x: calc(50% + #{$content-width}/2 + #{$bg1-width}/2 + 20px);
$bg1-y: 38px;

$bg2-width: 455px;
$bg2-x: calc(50% - #{$content-width}/2 - #{$bg2-width/2} - 136px);
$bg2-y: calc(100% - 120px - 123px);

$bg3-width: 186px;
$bg3-x: calc(50% - #{$content-width}/2 - #{$bg3-width/2} + 20px);
$bg3-y: 56px;

$bg4-width: 397px;
$bg4-x: calc(50% + #{$content-width}/2 + #{$bg4-width}/2 + 106px);
// TODO: $bg4-y -> fix later considering comments widget height
$bg4-y: calc(100% - 224px);


#top-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
}

#bottom-pixel-anchor {
  position: relative;
  width: 1px;
  height: 1px;
  top: 30px;
}

.page-content {
  background-repeat: no-repeat;
  padding: 0;

  &.home-parent {
    background-image:
      url("site-img/img-comma-1.svg"),
      url("site-img/img-comma-2.svg");
    background-position:
      $bg1-x $bg1-y,
      $bg2-x $bg2-y;
  }

  &.post-parent {
    background-image:
      url("site-img/img-comma-3.svg"),
      url("site-img/img-comma-4.svg");
    background-position:
      $bg3-x $bg3-y,
      $bg4-x $bg4-y;
  }

  > .wrapper {
    max-width: $content-width;
    padding: 0;
  }
}

.site-header {
  border-width: 0;
  height: $menu-height;

  &.site-header-big {
    background-image: url("site-img/img-top.png");
    background-color: darkblue;
    height: $banner-height;
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    height: $menu-height;
    background-image: linear-gradient(124deg, #182461 23%, #26328c 51%);
    display: flex;
    justify-content: center;
    align-items: center;

    &-overlay {
      background-color: rgba(0, 0, 0, 0.2);
      background-image: none;
    }

    &-inner-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 1240px;

      .bi-white {
        opacity: 1;
        color: white;
        height: 26px;
        margin-left: 2px;
        object-fit: contain;
      }

      .v-sep {
        width: 1px;
        height: 20px;
        margin: 3px 20px 3px;
        opacity: 0.32;
        background-color: #ffffff;
      }

      .nav-menu-item {
        opacity: 0.9;
        font-family: NotoSansCJKkr, sans-serif;
        font-size: 19px;
        font-weight: 500;
        color: #ffffff;
        margin: 0;
        height: 28px;
        overflow: hidden;
      }
    }
  }
}

.site-title-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(#{$banner-height} - #{$menu-height});
  margin-top: $menu-height;

  .site-title-box {
    display: flex;
    height: 51px;
    align-items: flex-end;

    .img-tech {
      height: 48px;
      margin-right: 12px;
      object-fit: contain;
    }

    .site-title {
      line-height: 100%;
      height: 100%;
      margin: 0;
      font-family: NotoSansCJKkr, sans-serif;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: -0.31px;
      color: #ffffff;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .site-desc {
    margin: 26px 24px 0;
    height: 29px;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: 20px;
    letter-spacing: -0.33px;
    color: rgba(255, 255, 255, 0.64);

    &-highlight {
      color: rgba(178, 159, 255, 0.64);
    }
  }
}

.site-footer {
  height: $footer-height;
  background-color: #313131;
  padding: 0;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .footer-inner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;

    .footer-info-box {
      color: #ffffff;

      .links {
        margin: 0;

        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        opacity: 0.88;
        font-family: NotoSansCJKkr, sans-serif;
        font-size: 14px;

        li {
          margin-right: 24px;
          margin-bottom: 16px;
          white-space: nowrap;

          &.emphasize {
            font-weight: bold;
          }

          a {
            color: inherit;
          }
        }
      }

      .company-info {
        color: #aaaaaa;
        font-family: NotoSansCJKkr, sans-serif;
        font-size: 12px;
        line-height: 1.67;
        margin: 0;

        p {
          margin: 0;
        }
      }

      .copyright {
        @extend .company-info;
        margin-top: 4px;
      }
    }

    .family-site-box {
      > select {
        // reset default style
        appearance: none;
        -webkit-appearance: none;
        border: none;
        outline: none;

        width: 200px;
        height: 32px;
        padding-left: 16px;
        background-color: rgba(204, 204, 204, 0.2);
        background-image: url("site-img/ic-open.svg");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        color: rgba(255, 255, 255, 0.8);
        font-family: NotoSansCJKkr, sans-serif;
        font-size: 14px;

        option {
          background-color: #444444;  // for firefox
        }
      }
    }
  }
}

.home {
  padding: 120px 0;

  .post-list-marker {
    width: 120px;
    height: 3px;
    background-color: #000000;
  }

  .post-list {
    margin-bottom: 0;

    .post-item {
      border-bottom: 1px solid #e6e9ea;
      margin: 0;
      display: flex;
      justify-content: space-between;

      .post-title-box {
        margin: 64px 0;
        max-width: 720px;

        .post-link {
          @extend .one-line;
          line-height: 1em;
          font-family: NotoSansCJKkr, sans-serif;
          font-weight: 500;
          font-size: 24px;
          letter-spacing: -0.4px;
          color: #111111;
        }

        .post-excerpt {
          margin: 12px 0 16px;
          font-family: NotoSansCJKkr, sans-serif;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: -0.2px;
          color: #888888;
        }
      }

      .post-meta {
        min-width: 180px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .author-avatar {
          margin-bottom: 8px;

          > .avatar {
            width: 56px;
            height: 56px;
            border-radius: 50%;
          }
        }

        .dot-sep {
          display: none;
        }

        .author-name {
          font-family: NotoSans, sans-serif;
          font-size: 14px;
          color: #333333;
        }

        .post-date {
          font-family: NotoSans, sans-serif;
          font-size: 14px;
          color: #bdbdbd;
        }
      }
    }
  }
}

.tag-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;

  .tag-item {
    height: 30px;
    margin: 0 6px 6px 0;
    padding: 0 16px;
    border-radius: 16px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;

    font-family: NotoSansCJKkr, sans-serif;
    font-size: 13px;
    color: #333333;
    white-space: nowrap;
  }
}

.btn-top-box {
  position: relative;

  .btn-top {
    position: fixed;
    right: 40px;
    bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 54px;
    height: 54px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #e6e9ea;
    background-color: #ffffff;
    border-radius: 50%;

    &.absolute {
      position: absolute;
    }

    .img-arrow {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }
}

.extra-box {
  // TODO: (to be redesigned)
  position: relative;

  .search-link {
    position: absolute;
    bottom: -120px;
  }
}

#lunrsearch-form {
  display: flex;
  justify-content: center;

  #lunrsearch {
    width: 60vw;
    height: 40px;
    margin: 20px;
    font-size: large;
    border: 1px solid lightgray;

    &:focus {
      border-color: transparent;
    }
  }
}

// early application of https://github.com/jekyll/minima/pull/273
// TODO: remove after an official update of minima theme
.post-content h1 {
  @extend .post-title;
}
