$menu-height: calc(64px * 0.9);
$banner-height: calc(360px * 0.75);

.site-header {
  border-width: 0;

  &.site-header-big {
    background-image: url("site-img/img-top.png");
    background-color: darkblue;
    height: calc($banner-height + $menu-height);
  }

  .nav-menu {
    height: $menu-height;
    background-image: linear-gradient(124deg, #182461 23%, #26328c 51%);

    &-overlay {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.2);
      background-image: none;
    }

    display: flex;
    align-items: center;
    padding-left: 50px;

    .bi-white {
      opacity: 1;
      color: white;
      width: 206.3px;
      height: 26px;
      object-fit: contain;
    }

    .v-sep {
      width: 1px;
      height: 20px;
      margin: 3px 20px 3px 19.7px;
      object-fit: contain;
      opacity: 0.32;
      background-color: #ffffff;
    }

    &-item {
      opacity: 0.9;
      font-family: NotoSansCJKkr, sans-serif;
      font-size: 19px;
      font-weight: 500;
      color: #ffffff;

      margin: 0;
    }
  }
}

.site-title-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $banner-height;

  .site-title-box {
    display: flex;

    .img-tech {
      width: 247px;
      height: 52px;
      margin: 0 14px 0 0;
      object-fit: contain;
    }

    .site-title {
      height: 51px;
      margin: 1px 0 0 14px;
      font-family: NotoSansCJKkr, sans-serif;
      font-size: 51.2px;
      font-weight: 500;
      letter-spacing: -0.32px;
      color: #ffffff;
    }
  }

  .site-desc {
    margin-top: 24px;
    height: 20px;
    opacity: 0.64;
    font-family: NotoSansCJKkr, sans-serif;
    font-size: calc(20px * 0.9);
    letter-spacing: -0.33px;
    color: #ffffff;

    &-highlight {
      color: #b29fff;
    }
  }
}

.site-footer {
  height: calc(216px / 2);
  margin: 40px 0 0;
  background-color: #313131;

  display: flex;
  justify-content: space-around;

  .footer-info-box {

    .stipulation {
      margin: 0 0 16px;
      width: 360px;

      list-style-type: none;
      display: flex;
      justify-content: space-between;

      opacity: 0.88;
      font-family: NotoSansCJKkr, sans-serif;
      font-size: 14px;
      color: #ffffff;
    }

    .company-info,
    .copyright {
      opacity: 0.4;
      font-family: NotoSansCJKkr, sans-serif;
      font-size: 12px;
      line-height: 1.67;
      color: #ffffff;

      margin: 0 0 4px;

      p {
        margin: 0;
      }
    }
  }

  .family-site-box {
    display: flex;
    align-items: center;

    select {
      width: 200px;
      height: 32px;
      padding: 8px 16px;
      background-color: rgba(204, 204, 204, 0.2);
      color: rgba(255, 255, 255, 0.8);

      option {
        opacity: 0.8;
        font-family: NotoSansCJKkr, sans-serif;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}
