@import 'custom.scss';

@media (max-width: $max-tablet-width) {
  $banner-height: 320px;
  $menu-height: 56px;
  $footer-height: 264px;

  .page-content {
    &.home-parent,
    &.post-parent {
      background: none;
    }
  }

  .home-parent > .wrapper {
    margin: 0 40px;
  }

  .site-header {
    &.site-header-big {
      height: $banner-height;
    }

    .nav-menu {
      height: $menu-height;

      &-inner-box {
        margin: 0 24px;

        .bi-white {
          height: 22px;
          margin-left: 0;
        }

        .menu-item {
          height: 28px;
          font-size: 19px;
        }
      }

      .search-bar {
        // TODO
        &-form {
          min-width: 180px;
        }
      }
    }

    .site-title-banner {
      height: calc(#{$banner-height} - #{$menu-height});

      .site-title {
        width: 320px;
        height: 48px;
      }

      .site-desc {
        font-size: 18px;
        margin-top: 10px;
        height: calc(56px / 2);   // enough for one line
      }
    }
  }

  .home,
  #search-results {
    padding-top: 0;

    .post-list-marker {
      display: none;
    }

    .post-list {
      .post-item {
        flex-direction: column;
        padding: 40px 48px 40px 0;

        .post-title-box {
          margin: 0 0 24px;

          .post-excerpt {
            margin-bottom: 0;
          }

          .tag-list {
            display: none;
          }
        }

        .post-meta {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          min-height: 0;
          margin-left: 0;

          .author-avatar {
            margin: 0 8px 0 0;

            > .avatar {
              width: 40px;
              height: 40px;
            }
          }

          .dot-sep {
            display: inline-block;
            margin: 0 8px;
          }

          .post-date {
            color: #999999;
          }
        }
      }
    }
  }

  #search-results {
    &-title {
      margin-top: 80px;
    }
  }

  .site-footer {
    height: $footer-height;

    .footer-inner-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 40px;

      .family-site-box {
        margin-top: 24px;
      }
    }
  }

  .btn-top-box .btn-top {
    right: 24px;
    bottom: 24px;
  }
}
