@import 'common.scss';

.site-header {
  z-index: 1;
}

.post {
  margin-top: 128px;

  p, h1, h2, h3, h4, h5, h6 {
    max-width: $content-text-width;
  }

  .post-header {
    margin: 0;

    .post-title {
      font-family: NotoSansCJKkr, sans-serif;
      font-size: 40px;
      line-height: 1.35;
      letter-spacing: -0.4px;
      color: #000000;
    }

    .post-meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 72px;
      margin: 0;

      .author-avatar > .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
      }

      .p-author {
        margin: 0 8px;
        font-family: NotoSans, sans-serif;
        font-size: 14px;
        color: #111111;
      }

      .dt-published {
        margin: 0 8px;
        font-family: NotoSans, sans-serif;
        font-size: 14px;
        color: #999999;
      }
    }
  }

  .post-content {
    margin: 0;
    padding: 72px 0;
    border: {
      top: 1px solid #111111;
      bottom: 1px solid #111111;
    }

    .tag-list {
      margin-top: 30px;
    }
  }
}

.comment-widget {
  margin: 72px 0 52px;

  .utterances {
    margin: 0;
    max-width: 100%;
  }
}

.button-box {
  display: flex;
  justify-content: center;
  margin: 56px 0 120px;

  .button-to-list {
    width: 144px;
    height: 48px;
    padding: 17px 32px;
    border-radius: 4px;
    border: solid 1px #bdbdbd;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: NotoSansCJKkr, sans-serif;
  }
}

@media (max-width: $max-tablet-width) {
  .wrapper {
    margin: 0 40px;
  }
}

@media (max-width: $max-phone-width) {
  .wrapper {
    margin: 0 16px;
  }
}
